/* You can add global styles to this file, and also import other style files */

body{
    background-color: whitesmoke
}
body { margin: 0;
     font-family: Roboto, 
     "Helvetica Neue", sans-serif; }
div{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
